{% extends "layout.html" %} {% block content %}

<head>
    <title>HOME-INT</title>
</head>

<body style="background-color:#FFFFFF;">
    <center>
        <br>
        <br>
        <img src="/static/img/Advertencia.png" class="mr-3" width="35%" height="35%">
        <h1>{{ des_error }}</h1><a href={{ paginaant }} class="btn btn-primary" style="background:#0077FF;">Reintentar</a></center>

    <script type="text/javascript" src="/static/js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="/static/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    </center>
</body>
{% endblock %}