{% extends "layout.html" %} {% block content %}

<head>
    <title>Carrera </title>
</head>
<script src="https://kit.fontawesome.com/c8a4eef53d.js" crossorigin="anonymous"></script>

<body style="background-color:#ffff;">
    <form action="/carrera_agr" method="post">
        <h2>Agregar Carrera</h2>
        <label for="descripcion">Descripción</label>
        <br>
        <input type="text" class="form-control" name="descripcion" id="descripcion" placeholder="Descripcion" required>
        <br>
        <button type="submit" class="btn btn-primary">Agregar &nbsp;<i class="fas fa-paper-plane"></i></button>
        <script type="text/javascript" src="/static/js/jquery-3.2.1.slim.min.js"></script>
        <script type="text/javascript" src="/static/js/popper.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
        <a class="btn btn-primary" href="/agr_datos_carrera" align="right">Regresar &nbsp;<i class="fas fa-undo-alt"></i></a>
    </form>
</body>
{% endblock %}