{% extends "layout.html" %} {% block content %}

<style>
  .content-table {
      border-collapse: collapse;
      margin: 25px 0;
      font-size: 0.9en;
      min-width: 600px;
      border-radius: 5px 5px 0 0;
      overflow: hidden;
      box-shadow: 0 0 20px rgb(0, 0, 0, 0.15);
  }
  
  .content-table thead tr {
      background-color: #333769;
      color: #ffff;
      text-align: left;
      font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
      padding: 12px 15px;
  }
  
  .content-table tbody tr {
      border-bottom: 1px solid #dddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
      background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
      border-bottom: 2px solid #333769;
  }
  
  .content-table tbody tr.active-row {
      font-weight: bold;
      color: #333769;
  }
</style>

<head>
    <title>HOME-INT</title>
</head>
<body style="background-color:#ffff;">
<br>
<script src="https://kit.fontawesome.com/c8a4eef53d.js" crossorigin="anonymous"></script>
<form action="/modifica_candidato/{{candidatos.0[0]}}" method="post">
<h2>Editar Candidato</h2>
    <script type="text/javascript" src="/static/js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="/static/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="curp">CURP</label>
        <input minlength="18" maxlength="18" type="text" class="form-control" name="curp" id="curp" value="{{candidatos.0[0]}}" required="" pattern="([A-Z]{3,4})+([0-9]{6,})+([A-Z]{6,})+([A-Z0-9]{2,})">
      
        </div>
        <div class="form-group col-md-9">
            <label for="nombre">AP. Paterno    Ap.Materno    Nombre(s)</label>
            <input type="text" class="form-control" name="nombre" id="nombre" value="{{candidatos.0[2]}}" required="">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-7">
            <label for="domicilio">Domicilio</label>
            <input type="text" class="form-control" name="domicilio" id="domicilio" value="{{candidatos.0[4]}}" required="">
        </div>
        <div class="form-group col-md-4">
            <label for="rfc">RFC</label>
            <input minlength="13" maxlength="13" type="text" class="form-control" name="rfc" id="rfc" placeholder="0101010101" value="{{candidatos.0[1]}}"  required="" pattern="([A-Z]{4,})+([0-9]{6,})+([A-Z0-9]{3,})">
        </div>
        <div class="form-group col-md-7">
          <label for="nacionalidad">Nacionalidad</label>
          <input type="text" class="form-control" name="nacionalidad" id="nacionalidad" value="{{candidatos.0[3]}}" required="">
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="telefono">Teléfono</label>
        <input minlength="10" maxlength="10" type="text" class="form-control" name="telefono" id="telefono" value="{{candidatos.0[5]}}" placeholder="000000" pattern="[0-9.]+" required="">
        </div>
        <div class="form-group col-md-3">
            <label for="correoe">Correo Electrónico</label>
            <input type="email" class="form-control" name="correoe" id="correoe" value="{{candidatos.0[6]}}" required="" pattern="[a-zA-Z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}">
        </div>

        <div class="form-group col-md-1">
            <label for="edad">Edad</label>
        <input type="text" class="form-control" name="edad" id="edad" value="{{candidatos.0[8]}}" placeholder="000" pattern="[0-9.]+" required="">
        </div>
        <div class="form-group col-md-1">
            <label for="nss">N.S.S</label>
            <input type="text" class="form-control" name="nss" id="nss" value="{{candidatos.0[9]}}" placeholder="000" pattern="[0-9.]+" required="" minlength="11" maxlength="11">
        </div>
        <div class="form-group col-md-2">
            <label for="sexo">Sexo</label>
            <select name="sexo" id="sexo" class="form-control" required="">
                {% if candidatos.0[7] == "M" %}
                  <option value="M">Masculino</option>
                  <option value="F">Femenino</option>
                {% else %}
                  <option value="F">Femenino</option>
                  <option value="M">Masculino</option>
                {% endif %}
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="edociv">E. Civil</label>
            <select name="edociv" id="edociv" class="form-control" required="">
                {% if candidatos.0[10]==1 %}
                  <option value="1">Soltero/a</option>
                  <option value="2">Casado/a</option>
                  <option value="3">Union Libre</option>
                  <option value="4">Divorcio</option>
                {% else %}  
                  {% if candidatos.0[10]==2 %}
                    <option value="2">Casado/a</option>
                    <option value="1">Soltero/a</option>
                    <option value="3">Union Libre</option>
                    <option value="4">Divorcio</option>
                  {% else %}
                    {% if candidatos.0[10]==3 %}
                      <option value="3">Union Libre</option>
                      <option value="1">Soltero/a</option>
                      <option value="2">Casado/a</option>  
                      <option value="4">Divorcio</option>
                    {% else %}
                    <option value="4">Divorcio</option>
                    <option value="1">Soltero/a</option>
                    <option value="2">Casado/a</option>
                    <option value="3">Union Libre/</option>
                    {% endif %}
                  {% endif %}  
                {% endif %}
                
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Enviar Cambios &nbsp;<i class="fas fa-paper-plane"></i></button>
    <a href="/candidato" class="btn btn-primary">Regresar &nbsp;<i class="fas fa-undo-alt"></i></a>
</form>
<br>

<!-- -----------------------------------------------------------------  -->
<br>
<br>
<center><h3>Habilidades asociadas</h3></center>
<div class="panel panel-primary">
    <div class="panel-heading">
        <form class="form-inline" action="/agrega_hab_can/{{candidatos.0[0]}}" method="post">
            <div class="form-row">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="hidden" name="can" id="can" value="{{candidatos.0[0]}}" required="">
                <label for="habil">Habilidad </label>&nbsp;&nbsp;&nbsp;
                <select required="" name="habil" id="habil" class="form-control" required="">
                             <option value="" selected>Choose...</option>
                                 {%
                                     for hab in habs
                                 %}
                                     <option value="{{ hab.0 }}">{{ hab.1 }}</option>
                                {%   endfor %}
                             </select>&nbsp;&nbsp;&nbsp;
                             <label for="expe">Experiencia</label>&nbsp;&nbsp;&nbsp;
                             <input type="text" class="form-control" name="expe" id="expe" placeholder="tiempo de experiencia" required="">&nbsp;&nbsp;&nbsp;
                         </div>&nbsp;&nbsp;&nbsp;
                        <button type="submit" class="btn btn-primary">Agrega habilidad &nbsp;<i class="fas fa-plus"></i></button>
                    </form>
                  </div>
                  <br>
                  <center>
                    <table class="content-table">
                  </center>
                          <thead>
                            <tr>
                                <th>Habilidad</th>
                                <th>Experiencia</th>
                              <th>></th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for can_hab in can_habs %}
                              <tr>
                                <td>
                                  {{ can_hab.2 }}
                                </td>
                                <td>
                                  {{ can_hab.5 }}
                                </td>
                                <td  bgcolor="#FFF5757" width="60">
                                  <center><a href="/bo_hab_can/{{can_hab.0}}/{{ can_hab.4 }}" style="color:#FFFFFF; text-decoration:none;">Borrar &nbsp;<i class="fas fa-trash-alt"></i></a></center>
                                </td>

                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                        </center>
                  </div>
            </div>

<!-- -----------------------------------------------------------------  -->
            <br>
            <center><h3>Requerimientos de Idioma</h3></center>
             <div class="panel panel-primary">
                  <div class="panel-heading" >
                    <form class="form-inline" action="/agrega_idio_can/{{candidatos.0[0]}}" method="post">
                        <div class="form-row">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="hidden" name="cani" id="cani" value="{{candidatos.0[0]}}" required="">
                            <label for="idio">Idioma</label> &nbsp;&nbsp;&nbsp;
                            <select required="" name="idio" id="idio" class="form-control">
                                <option value="" selected>Choose...</option>
                                {% for idioma in idiomas %}
                                <option value="{{ idioma.0 }}">{{ idioma.1 }}</option>
                                {%   endfor %}
                            </select>&nbsp;&nbsp;&nbsp;
                            <label for="nive">Nivel</label>&nbsp;&nbsp;&nbsp;
                            <input type="text" class="form-control" name="nive" id="nive" placeholder="Nivel en el idioma" required="">&nbsp;&nbsp;&nbsp;
                        </div>&nbsp;&nbsp;&nbsp;
                        <button type="submit" class="btn btn-primary">Agrega Idioma &nbsp;<i class="fas fa-plus"></i></button>
                    </form>
                  </div>
                  <br>
                  <center>
                    <table class="content-table">
                  </center>
                          <thead>
                            <tr>
                                <th>Idioma</th>
                                <th>Nivel</th>
                              <th>></th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for can_idi in can_idis %}
                              <tr>
                                <td>
                                  {{ can_idi.2 }}
                                </td>
                                <td>
                                  {{ can_idi.5 }}
                                </td>
                                <td  bgcolor="#FFF5757" width="60">
                                  <center><a href="/bo_idi_can/{{ can_idi.0 }}/{{ can_idi.4 }}" style="color:#FFFFFF; text-decoration:none;">Borrar &nbsp;<i class="fas fa-trash-alt"></i></a></center>
                                </td>
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                        </center>
                  </div>
            </div>
          <br>
            <center><h3>Requerimientos de Nivel Académico</h3></center>
             <div class="panel panel-primary">
                  <div class="panel-heading" >
                    <form class="form-inline" action="/agrega_aca_can/{{candidatos.0[0]}}" method="post">
                        <div class="form-row">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <input type="hidden" name="cana" id="cana" value="{{candidatos.0[0]}}" required="">
                            <label for="nivel">Nivel Académico</label> &nbsp;&nbsp;&nbsp;
                            <select required="" name="nivel" id="nivel" class="form-control" required="">
                                <option value="" selected>Choose...</option>
                                {% for nivel_academico in nivel_academico %}
                                <option value="{{ nivel_academico.0 }}">{{ nivel_academico.1 }}</option>
                                {%   endfor %}
                            </select>&nbsp;&nbsp;&nbsp;
                            <label for="carrera">Carrera</label> &nbsp;&nbsp;&nbsp;
                            <select name="carrera" id="carrera" class="form-control" required="">
                                <option value="" selected>Choose...</option>
                                {% for carr in carrera_can %}
                                     <option value="{{ carr.0 }}">{{ carr.1 }}</option>
                                {%   endfor %}
                            </select>&nbsp;&nbsp;&nbsp;
                            <label for="nive">Institucion</label>&nbsp;&nbsp;&nbsp;
                            <input type="text" class="form-control" name="insti" id="insti" placeholder="Institucion" required="">&nbsp;&nbsp;&nbsp;

                      <center><button type="submit" class="btn btn-primary">Agrega Nivel Academico &nbsp;<i class="fas fa-plus"></i></button></center>
                      </div>
                    </form>
                  </div>
                  <br>
                  <center>
                    <table class="content-table">
                  </center>
                          <thead>
                            <tr>
                                <th>Nivel Académico</th>
                                <th>Carrera</th>
                                <th>Institución</th>
                              <th>></th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for can_aca in can_acas %}
                              <tr>
                                <td>
                                  {{ can_aca.2 }}
                                </td>
                                <td>
                                  {{ can_aca.4 }}
                                </td>
                                  <td>
                                  {{ can_aca.8 }}
                                </td>
                                <td  bgcolor="#FFF5757" width="60">
                                  <center><a href="/bo_aca_can/{{ can_aca.0 }}/{{ can_aca.1 }}/{{can_aca.3}}" style="color:#FFFFFF; text-decoration:none;">Borrar &nbsp;<i class="fas fa-trash-alt"></i></a></center>
                                </td>

                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                        </center>
                  </div>
            </div>

</body>
{% endblock %}