{% extends "layout.html" %}
{% block content %}
<head>
    <title>HOME-INT</title>
</head>
<script src="https://kit.fontawesome.com/c8a4eef53d.js" crossorigin="anonymous"></script>
<body style="background-color:#ffff;">
<form action="/modifica_jor/{{tarea.0}}" method="post">
    <h2>Editar Jornada</h2>
<div class="form-row">
    <label for="nom_area">Nombre de jornada</label>
</div>
    <div class="form-row">
    <div class="col">
        <input type="text" class="form-control" name="nom_area" id="nom_area" placeholder="Nombre de Jornada" value="{{tarea.1}}" required>
    </div>
</div>

<div class="form-row">
    <label for="desc">Descripción</label>
</div>
<div class="form-row">
    <div class="col">
        <input type="text" class="form-control" name="desc" id="desc" placeholder="Descripcion" value="{{tarea.2}}" required>
        <input type="text" class="form-control" name="val" id="val" placeholder="Descripcion" value="0"  hidden>
    </div>
</div>
<script type="text/javascript" src="/static/js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="/static/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<br>
    <button type="submit" class="btn btn-primary">Enviar Cambios &nbsp;<i class="fas fa-paper-plane"></i></button>
    <a class="btn btn-primary" href="/agr_datos_jor" align="right">Regresar &nbsp;<i class="fas fa-undo-alt"></i></a>
</form>

</body>
{% endblock %}