{% extends "layout.html" %}

{% block content %}
<head>
    <title>HOME-INT</title>
</head>
<body style="background-color:#ffff;">
<script src="https://kit.fontawesome.com/c8a4eef53d.js" crossorigin="anonymous"></script>
<h2>Editar Tipo de nomina</h2>
            <form action="/modifica_tipo_nomina/{{tipos.0}}" method="post">
              <div class="form-row">
                  <label for="descripcion">Descripción</label>
              </div>
              <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control" name="descripcion" id="descripcion" placeholder="Descripcion" value="{{tipos.1}}" required>
                </div>
              </div>
                <br>
              <button type="submit" class="btn btn-primary">Enviar Cambios &nbsp;<i class="fas fa-paper-plane"></i></button>
                <script type="text/javascript" src="/static/js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="/static/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

    <a class="btn btn-primary" href="/agr_tipo_nomina" align="right">Regresar &nbsp;<i class="fas fa-undo-alt"></i></a>
            </form>
            
</body>

{% endblock %}