
<head>
    <title>HOME-INT</title>
</head>
<form action="/">
<body style="background-color:#D5DBDB;">
	<link rel="stylesheet" href="\static\css\bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<center>
    <br>
    <br>
    <img src="{{url_for('static', filename='error.png')}}"class="mr-3" width="40%" height="60%">
    <h1>{{ des_error }}</h1>
    <button type="submit" class="btn btn-primary" style="background:lightseagreen">Reintentar</button>
    <script type="text/javascript" src="/static/js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="/static/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</center>
</body>
</form>