<!DOCTYPE html>
<html lang="es">
<link rel="icon" href="static/img/logo.png">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <title>NOVA-INT</title>
    <!---- Liga a bootstrap (framework CSS)--->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!---- Liga a CSS local---->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="/"><img src="static/img/logo.png" height="30" width="30"> &nbsp;&nbsp;&nbsp;</a>
        <a class="navbar-brand" title="Regresar a la página principal" href="/">Home | Nova-Int</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <main class="container">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                <div class="dropdown mb-3">
                    <a href="" class="btn btn-primary dropdown-toggle" role="button" id="catalagos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Catálogo del Sistema
                </a>
                    <div class="dropdown-menu" aria-labelledby="catalagos">
                        <a href="/agr_datos_nivel_academico" class="dropdown-item">Nivel Académico</a>
                        <a href="/agr_datos_carrera" class="dropdown-item">Carrera</a>
                        <a href="/agr_datos_idioma" class="dropdown-item">Idioma</a>
                        <a href="/agr_datos_habilidad" class="dropdown-item">Habilidad</a>
                        <a href="/agr_datos_area" class="dropdown-item">Área</a>
                        <a href="/agr_datos_curso" class="dropdown-item">Curso</a>
                        <div class="dropdown-divider"></div>
                        <a href="/agr_datos_jor" class="dropdown-item">Jornada</a>
                        <div class="dropdown-divider"></div>
                        <a href="/agr_datos_tipo" class="dropdown-item">Tipo de contrato</a>
                        <div class="dropdown-divider"></div>
                        <a href="/agr_datos_publicidad" class="dropdown-item">Medio de Publicidad</a>
                        <a href="/agr_datos_contacto" class="dropdown-item">Contacto</a>
                        <a href="/agr_datos_empresa" class="dropdown-item">Datos de la Empresa</a>
                        <div class="dropdown-divider"></div>
                        <a href="/tip_nomina" class="dropdown-item">Tipo de nomina</a>
                        <a href="/periodo" class="dropdown-item">Periodo de pago</a>
                        <a href="/percepciones" class="dropdown-item">Percepciones</a>
                        
                        
                    </div>
                </div>

                <div class="dropdown mb-3">
                    <a href="" class="btn btn-primary dropdown-toggle" role="button" id="empresa" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Procesos de la Empresa
                </a>
                    <div class="dropdown-menu" aria-labelledby="Empresa">
                        <a href="/puesto" class="dropdown-item">Puesto</a>
                        <a href="/solicitud" class="dropdown-item">Solicitud de personal</a>
                        <a href="/autoriza_solicitud" class="dropdown-item">Autorización de Solicitud</a>
                        <a href="/a_publicar" class="dropdown-item">Publicacion de Ofertas</a>
                        <a href="/candidato" class="dropdown-item">Solicitante</a>
                        <a href="/agr_sel_candidato" class="dropdown-item">Seleccion de Candidatos</a>
                        <a href="/agr_cal_psicologica" class="dropdown-item">Calificación Psicologica</a>
                        <a href="/agr_cal_medica" class="dropdown-item">Calificación Medica</a>
                        <a href="/agr_sel_candidato2" class="dropdown-item">Calificación Tecnica</a>
                        <a href="/agr_valida_referencia" class="dropdown-item">Validación de Referencias</a>
                        

                    </div>
                </div>

                <div class="dropdown mb-3">
                    <a href="" class="btn btn-primary dropdown-toggle" role="button" id="admin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Contratación
                </a>
                    <div class="dropdown-menu" aria-labelledby="Contratación">
                        <a href="/agr_candidato_contratacion" class="dropdown-item">Selección</a>
                        <a href="/empleado" class="dropdown-item">Captura de datos</a>
                        <a href="/contrato" class="dropdown-item">Contratos</a>
                        <a href="/capacitacion" class="dropdown-item">Capacitación</a>
                    </div>
                </div>

                <div class="dropdown mb-3">
                    <a href="" class="btn btn-primary dropdown-toggle" role="button" id="admin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Administración del sistema
                </a>
                    <div class="dropdown-menu" aria-labelledby="Administracion">
                        <a href="/perfil" class="dropdown-item">Perfiles</a>
                        <a href="/usuario" class="dropdown-item">Usuarios</a>
                        <a href="/isr" class="dropdown-item">ISR</a>
                        <a href="/base_cot" class="dropdown-item">BASE IMSS</a>
                        <a href="/imss" class="dropdown-item">CALCULO IMSS</a>


                    </div>
                </div>
            </main>
            <div style="text-align: center">
                <a href="/logout">
                    <img src="/static/img/logout.png" title="Cerrar sesion" width="40" height="35">
                </a>
            </div>

    </nav>
</body>

{% block content %} {% endblock %}