{% extends "layout.html" %} {% block content %}
<script src="https://kit.fontawesome.com/c8a4eef53d.js" crossorigin="anonymous"></script>

<head>
    <title>HOME-INT</title>
</head>
<body style="background-color:#ffff;">
<h2>Agregar Tipo de Contrato</h2>
<form action="/tipo_con_agr" method="post">
  <script type="text/javascript" src="/static/js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="/static/js/popper.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

<div class="form-row">
 <label for="descripcion">Descripción</label>
</div>

<div class="form-row">
 <div class="col">
 <input type="text" class="form-control" name="descripcion" id="descripcion" placeholder="Descripcion" required>
 </div>
</div>
<br>
<button type="submit" class="btn btn-primary">Agregar &nbsp;<i class="fas fa-paper-plane"></i></button>
<a class="btn btn-primary" href="/agr_datos_tipo" align="right">Regresar &nbsp;<i class="fas fa-undo-alt"></i></a>
</form>
</body>
{% endblock %}